<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::header">
</head>
<body class="dashboard dashboard_1">

<div class="full_container">
    <div class="inner_container">
        <!-- Sidebar  -->
        <nav th:replace="/fragments/commons::sidebar"></nav>
        <!-- end sidebar -->
        <!-- right content -->
        <div id="content">
            <!-- topbar -->
            <div th:replace="/fragments/commons::topbar"></div>
            <!-- dashboard inner -->
            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2>Bulletin</h2>
                            </div>

                            <div class="col-md-12 col-lg-10"
                                 style="margin: 0 auto;">
                                <div class="white_shd full margin_bottom_30">
                                    <div class="full graph_head">
                                        <div class="heading1 margin_0">
                                            <h2>Question Write</h2>
                                        </div>
                                    </div>
                                    <!--Form Start-->
                                    <div class="bulletin-form">
                                        <form   action="/bulletin/write"
                                                method="post"
                                                enctype="multipart/form-data">

                                            <!--폼 제목-->
                                            <div class="bulletin-field">
                                                <label
                                                        class="bulletin-field-label"
                                                        for="bulletin_field_text">Title</label>
                                                <input
                                                        name="title"
                                                        type="text"
                                                        id="bulletin_field_text"
                                                        th:value="${questionBoard.title}"
                                                        placeholder="  제목을 입력해 주세요.">
                                            </div>

                                            <div class="bulletin-field">
                                                <label class="bulletin-field-label"
                                                       for="bulletin_field_text">Content</label>
                                                <textarea
                                                        name="content"
                                                        id="bulletin_field_textarea"
                                                        placeholder="  내용을 입력해 주세요">[[${questionBoard.content}]]</textarea>
                                            </div>

                                            <!-- Button-->
                                            <div class="bulletin-field-form-btns bulletin-field dis_flex justify-content-end">
                                                <div class="field center">
                                                    <!--Reset btn-->
                                                    <button type="reset"
                                                            class="main_bt2">
                                                        Reset
                                                    </button>

                                                    <!--Submit btn-->
                                                    <button type="submit"
                                                            class="main_bt">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>
                            <!--Form End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="/fragments/commons::footer"></div>
</div>
<!-- end dashboard inner -->
</body>
<div th:replace="/fragments/commons::script"></div>
</html>