<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Chart test page</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" th:href="@{/css/chart/chart.css}" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      <!-- highchart libs -->
      <script src="js/libs/highcharts/highcharts.js"></script>
      <script src="js/libs/highcharts/modules/exporting.js"></script>
      <script src="js/libs/highcharts/modules/accessibility.js"></script>
      <script src="js/libs/highcharts/modules/exporting.js"></script>
      <script src="js/libs/highcharts/modules/boost.js"></script>
      <script src="js/libs/highcharts/modules/boost-canvas.js"></script>
      
      <!-- echart libs -->
      <script src="js/libs/echarts/echarts.min.js"></script>

      <!-- uplot libs -->
      <link rel="stylesheet" href="js/libs/uplot/uPlot.min.css" type="text/css">
      <script src="js/libs/uplot/uPlot.iife.js"></script>
</head>
<style>
      .chart_container {
            text-align: center;
            width: 1000px;
            height: 900px;
      }

      .chart_div {
            text-align: center;
            display: block;
            width: 1000px;
            height: 900px;
            overflow: visible;
      }

      #chart {
            top: 20%;
            text-align: center;
            display: flex;
            position: absolute;
            width: 1000px;
            height: 900px;
      }
</style>
<body>
<div class="container">
      <h3>Chart test page</h3>
      <ul class="nav nav-tabs">
            <li class="tab home active"><a href="#">Home</a></li>
            <li class="dropdown menu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">highcharts<span class="caret"></span></a>
                  <ul class="dropdown-menu"f>
                        <li class="dropdown first static"><a href="#">static chart test (data 3000)</a></li>
                        <li class="dropdown first merge"><a href="#">live chart test (data 1000 + liveData)</a></li>
                        <li class="dropdown first live"><a href="#">live chart test (liveData)</a></li>
                  </ul>
            </li>
            <li class="dropdown menu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">echarts<span class="caret"></span></a>
                  <ul class="dropdown-menu" f>
                        <li class="dropdown second static"><a href="#">static chart test (data 30000)</a></li>
                        <li class="dropdown second merge"><a href="#">live chart test (data 7200 + liveData)</a></li>
                        <li class="dropdown second live"><a href="#">live chart test (liveData)</a></li>
                  </ul>
            </li>
            <li class="dropdown menu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">googlecharts<span class="caret"></span></a>
                  <ul class="dropdown-menu" f>
                        <li class="dropdown third first"><a href="#">static chart test (data 3000)</a></li>
                        <li class="dropdown third second"><a href="#">live chart test (data 1000 + liveData)</a></li>
                        <li class="dropdown third third"><a href="#">live chart test (liveData)</a></li>
                  </ul>
            </li>
      </ul>

      <div class="chart_container">
            <div class="chart_div">
                  <div id="chart"></div>
            </div>
      </div>
</div>
</body>
<script src="js/main/charts/uplot/uplotHelper.js" rel="script"></script>
<script src="js/main/charts/highchart/highchartHelper.js" rel="script"></script>
<script src="js/main/charts/echart/echartHelper.js" rel="script"></script>
<script src="js/main/common/cmmchartHelper.js" rel="script"></script>
<script src="js/main/common/menuHelper.js" rel="script"></script>
</html>